*/babel/*.json
.idea
.vscode
*__pycache__*
*.egg-info
outputs/*
output/*
rendered_images/*
*tmp*
results/*
exps/*
.DS_Store
**/.DS_Store
wandb/*
newton_source/*
data/amass/*.pkl
.claude/*
!.claude/commands/
.cursor/
renders/
.venv/
.venv-*/
.venvs/
HumanRetargeting/biomechanics_retarget/processed_data/**/profile.yaml
HumanRetargeting/biomechanics_retarget/processed_data/**/qc/
HumanRetargeting/biomechanics_retarget/processed_data/**/yaml_data/motions_*.yaml
HumanRetargeting/biomechanics_retarget/processed_data/**/contacts/*.npz
HumanRetargeting/biomechanics_retarget/processed_data/**/keypoints/*.npy
HumanRetargeting/biomechanics_retarget/processed_data/**/motion_files/*.motion
HumanRetargeting/biomechanics_retarget/processed_data/**/overground_data/*.npy
HumanRetargeting/biomechanics_retarget/processed_data/**/overground_data/metadata/*
HumanRetargeting/biomechanics_retarget/processed_data/**/packaged_data/*.pt
HumanRetargeting/biomechanics_retarget/processed_data/**/retargeted_motions/*.npz
